.body{
  background-color: rgb(238, 223, 200);
  font-size: 16px;
  margin-top: 30px ;
  margin-left:  150px;
  margin-right: 50px;
  margin-bottom: 30px;
}
 
.top-menu {
 background-color: rgb(238, 223, 200);
 color:#4123d7
 height: 40px;
      }

.navigation {
  list-style-type: none;
  margin: 150;
  padding: 8px;
  margin-top: 50;
  margin-left: 100px;
  margin-right: 100px;
  padding: 100;
           }


.social-media {
  color: blue;
  text-decoration: none;
  height: 40px;
  margin-right: 0;
  margin-left: 1000px;
  justify-content: space-between;
            }

div.first{
  position: center;
  top: 0;
  padding: 5px;
  background-color: rgba(255, 255, 0, 0.84);
  border: 2px solid rgb(143, 230, 133);
            }
  
.beaches{
  position: center;
  display: table;
  margin: 0 auto;
             } 

.main-heading {
  text-align: center;
  background: yellow;
  color: red;
  border: 1px solid red;
  width: 75%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #ccc;
    } 

div.container {
    text-align: center;
  }
  
  ul.myUL3 {
    display: inline-block;
    text-align: left;
  }

  #footerline {
    max-width: 980px;
    text-align: right;
    margin: auto;
}