
html, body{
  background-color: rgb(233, 218, 194);
  
  }

.top-menu {
  background-color: rgb(231, 204, 164);
  color: blue;
  height: 40px;
}

.top-menu .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .top-menu #navigation {
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin: 0 0 0 0.3rem;
    }
  .top-menu a {
    margin: 0 1.2rem;
  }

  

    .top-menu .social-media {
      margin: 1rem
      }
      .top-menu .social-media a {
        margin: 0 0.3rem;
      }

      .top-menu .social-media a :last-child {
        margin: 0 0 0 0.3rem;
      }

    .first-photo .flight a{
      display: grid;
      margin: 3rem;
      align-items: center;
      margin-left: 32.2rem;
     
    }
   

    .first-photo .photo-text h5{
      margin:1rem;
      display: flex;
      justify-content: center;
      color: red;
    }

  .nature {
    margin: 3rem;
  }
      .nature #beaches h2{
        text-align: center;
        color: #6495ED;
      }
    .nature .second-photo img{
      display: grid;
      align-items: center;
      margin-left: 23rem;
    }
    .nature .second-text p{
      margin:2rem;
      text-align: center;
      color:#6495ED
    }


.nature .container {
    text-align: center;
    color: #6495ED;
  }
  

#myUL-1 {
   display: inline-block;
   text-align: left;
   }

   .gourmet {
    margin: 3rem;
  }
  .gourmet #food h2{
    text-align: center;
    color:#0000CD
  }
  .gourmet .third-photo img{
    display:grid;
    margin-left: 29rem;
    align-items: center;
    border: solid black;
  }
  .gourmet .third-text p{
    margin:2rem;
    text-align: center;
    color:#0000FF
  }
  .gourmet .container {
    text-align: center;
    }
  #myUL-2 {
    display: inline-block;
   text-align: left;
   color: #0000FF;
}

.money {
  margin:3rem;
}
.money #shopping h2{
  text-align: center;
  color:#FF00FF
}
.money .clothes-photo img {
  display:grid;
  align-items: center;
  margin-left: 26rem;
  }
  .money .shop-text p{
    margin: 2rem;
    text-align: center;
    color:#FF00FF ;
  }
  .money .container{
    text-align: center;
   
  }
  #myUL-3{
    display: inline-block;
    text-align: left;
    color:#ff4da6;
  }

  .main-heading {
    text-align: center;
    background: yellow;
    color: red;
    border: 1px solid red;
    width: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 30px 30px 30px #b88181;
      } 
      
      .main-heading .mallorca h1{
        color: blue;
      }
      .main-heading .first h4{
        align-items: center;
      }

      .info-text {
        margin: 3rem;
      }
      .info-text .information p{
        color: green;
       text-align: center;
      }
      .opening-hours .center{
       margin-left: auto;
       margin-right: auto;
      }
    .the-end .wiki h6{
      margin-top: 3rem;
     text-align: center;
     }
  #wiki-link a{
    display: grid;
    color: #FF00FF;
    margin-left: 41rem;
  
  }
    
    

  #footerline {
    max-width: 100%;
    text-align: end;
    margin: 3rem;
}