html, body{
  background-color: rgb(223, 215, 203);
  
  }

.top-menu {
  background-color: rgb(231, 204, 164);
  color: blue;
  height: 40px;
}

.top-menu > .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .top-menu .navigation {
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin: 0 0 0 0.3rem;
    }
  .top-menu a {
    margin: 0 1.2rem;
  }


    .top-menu .social-media {
      margin: 1rem
      }
      .top-menu .social-media a {
        margin: 0 0.3rem;
      }

      .top-menu .social-media a:last :last-child {
        margin: 0 0 0 0.3rem;
      }

      .mallorca{
        color:blue;
      }


div.first{
  position: center;
  top: 0;
  padding: 5px;
  background-color: rgba(255, 255, 0, 0.84);
  border: 2px solid rgb(143, 230, 133);
            }
  
.beaches{
  position: center;
  display: table;
  margin: 0 auto;
             } 

.main-heading {
  text-align: center;
  background: yellow;
  color: red;
  border: 1px solid red;
  width: 75%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 30px 30px 30px #b88181;
    } 

div.container {
    text-align: center;
  }
  
  ul.myUL3 {
    display: inline-block;
    text-align: left;
  }

  #footerline {
    max-width: 980px;
    text-align: right;
    margin: auto;
}